body {
  background: url(asset/img/bg.jpg) no-repeat;
  background-size: cover;
}

.box {
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  margin: 5% auto;
  text-align: center;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  border-radius: 20px;
}

.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: normal;
}

.box h5 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: normal;
}

.box p {
  text-align: justify;
}

.box li {
  list-style: none;
  display: inline-block;
  margin: 6px;
}

.hover {
  color: black;
}

.hover:hover{
  color: blanchedalmond;
}